[Unit]
Description = My test service
Wants=hop.timer
[Service]
RemainAfterExit=true
ExecStart=/opt/environments/hop.py
Type=oneshot

[Install]
WantedBy=multi-user.target
