<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		
		<title>Car</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		
		<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
		
</head>

<body>
	<div class="container text-center my-5">
	<div class="row">
	<div class="col-lg-6 mx-auto">
	<img class="rounded-img" src="{{ url_for('static', filename= 'css/img1.jpeg') }}" alt="no file" />
	<h1 class="fw-light">Shop Car</h1>
	<p class="lead text-muted">
	У нас вы можете приобрести лучшие модели машин
	</p>
	<a href="https://auto.ru/krasnodarskiy_kray/cars/used/?utm_source=yandex_direct&utm_medium=direct.common&utm_campaign=460_desktop_used_obshie_search_krasnodar_zapad-new-original_65310633&utm_content=cid%3A65310633%7Cgid%3A4680666595%7Caid%3A12312710209%7Cph%3A33803568199%7Cpt%3Apremium%7Cpn%3A1%7Csrc%3Anone%7Cst%3Asearch%7Ccgcid%3A0%7Cdt%3Adesktop&utm_term=купить+машину&adjust_t=cl4qttt_nsw4it6&adjust_campaign=65310633&adjust_adgroup=4680666595&tracker_limit=10000&adjust_ya_click_id=5249817484414156799&yclid=5249817484414156799&utm_referrer=yandex.ru" target="_blank"
	class="btn btn-primary">
	Купить
	</a>
	</div>
	</div>
	</div>

</body>
</html>
